* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20pt;
}

body {
    background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);

}


h1 {
    text-align: center;
    color:rgb(245, 169, 139);
    color: white;
    font-size: 40pt;
    text-shadow: 0px 0px 15px #972e80;
    letter-spacing: 3px;
    margin-top: 100px;
}
.calculator {
    width: 20%;
    height: 80%;
    margin-left: 41%;
}




.display {
    width: 80%;
    height: 10%;
    margin-top: 50px;
    border:5px solid black;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: black;
    color: white;
    box-shadow: 0px 0px 1000px #f0a1df;


}


div > button {
    box-shadow: 0px 0px 15px #f0a1df;
    border-radius: 10px;
    background-color: white;
    border: none;

}

div > button:hover {
    background-color:#ffd2f7;
    box-shadow: 0px 0px 15px #f31bc4;
}
.resets {
    width: 43%;
    background-color: rgb(241, 200, 222);
    padding: 5px;
}
#clear {
    margin-left: 0px;
}

#right {
    margin-right: 0px;
}




.digits {
    width: 20%;
    height: 30%;
    padding: 10px;
    margin-top: 5px;
    background-color: rgb(244, 226, 246);
}

.operator {
    width: 20%;
    height: 30%;
    padding: 10px;
    background-color: rgb(255, 236, 212);
}


.dot {
    width: 20%;
    height: 30%;
    padding: 10px;
    background-color: rgb(244, 226, 246);
}

.githubLink {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15pt;
    font-weight: thin;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#name {
    font-size: 15pt;
    margin-top: 10px;
}
#made {
    font-size: 10pt;
    margin-top: 10px;
}